<div class="max-w-4xl mx-auto font-[sans-serif] p-6">
  <div class="text-center">
    <h4 class="text-gray-800 text-xl font-semibold my-8">Crear Cuenta</h4>
  </div>
  <fieldset class="grid grid-cols-2 mb-8 gap-4">
    <legend class="sr-only">Delivery</legend>

    <div>
      <label
        for="client-empresa"
        class="flex cursor-pointer justify-between gap-4 rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-xs hover:border-gray-200 has-[:checked]:border-blue-500 has-[:checked]:ring-1 has-[:checked]:ring-blue-500"
      >
        <div>
          <p class="text-gray-700">Empresa</p>

          <p class="mt-1 text-gray-900">RUC</p>
        </div>

        <input
          type="radio"
          name="type-client-option"
          id="client-empresa"
          class="size-5 border-gray-300 text-blue-600"
          [value]="'Empresa'"
          [checked]="selectedOption === 'Empresa'"
          (change)="onSelectionChange('Empresa')"
        />
      </label>
    </div>

    <div>
      <label
        for="client-persona"
        class="flex cursor-pointer justify-between gap-4 rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-xs hover:border-gray-200 has-[:checked]:border-blue-500 has-[:checked]:ring-1 has-[:checked]:ring-blue-500"
      >
        <div>
          <p class="text-gray-700">Persona</p>

          <p class="mt-1 text-gray-900">DNI</p>
        </div>

        <input
          type="radio"
          name="type-client-option"
          id="client-persona"
          class="size-5 border-gray-300 text-blue-500"
          [value]="'Persona'"
          [checked]="selectedOption === 'Persona'"
          (change)="onSelectionChange('Persona')"
        />
      </label>
    </div>
  </fieldset>
  @if (selectedOption === "Empresa") {
    <app-form-register-client-company />
  } @else {
    <app-form-register-client-person />
  }
</div>

<!-- <div class="max-w-4xl mx-auto font-[sans-serif] p-6">
    <div class="text-center mb-16">
      <a href="javascript:void(0)"><img
        src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-52 inline-block' />
      </a>
      <h4 class="text-gray-800 text-base font-semibold mt-6">Sign up into your account</h4>
    </div>

    <form>
      <div class="grid sm:grid-cols-2 gap-8">
        <div>
          <label for="firstName" class="text-gray-800 text-sm mb-2 block">First Name</label>
          <input id="firstName" name="name" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter name" />
        </div>
        <div>
          <label for="lastName" class="text-gray-800 text-sm mb-2 block">Last Name</label>
          <input id="lastName" name="lname" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter last name" />
        </div>
        <div>
          <label for="email" class="text-gray-800 text-sm mb-2 block">Email Id</label>
          <input id="email" name="email" type="text" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter email" />
        </div>
        <div>
          <label for="mobileNumber" class="text-gray-800 text-sm mb-2 block">Mobile No.</label>
          <input id="mobileNumber" name="number" type="number" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter mobile number" />
        </div>
        <div>
          <label for="password" class="text-gray-800 text-sm mb-2 block">Password</label>
          <input id="password" name="password" type="password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter password" />
        </div>
        <div>
          <label for="confirmPassword" class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
          <input id="confirmPassword" name="cpassword" type="password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter confirm password" />
        </div>
      </div>

      <div class="!mt-12">
        <button type="button" class="py-3.5 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
          Sign up
        </button>
      </div>
    </form>
  </div> -->
