/* Agrega estos estilos en el archivo CSS del componente */
button.active {
    background-color: #15803d; /* Cambia este color al que prefieras */
    color: white;
    border-color: #15803d; /* Opcional: cambia el color del borde también */
  }
    