<div class="flex flex-col min-h-screen">
  <app-header />
  <main>
    <router-outlet />
  </main>
  <footer class="footer">
    <div class="footer-content">
      <p>© 2024 Nombre de la Empresa. Todos los derechos reservados.</p>
      <p>Dirección: Av. Ejemplo 123, Ciudad, País</p>
      <p>Correo: cremasmilhojas.com</p>
      <div class="social-links">
        <a href="https://www.facebook.com/cremaymilhojas/" target="_blank" aria-label="Facebook">
          <img src="facebook-boxed-svgrepo-com.svg" alt="Facebook" />
        </a>
        <a href="https://x.com/las_milhojas?lang=es" target="_blank" aria-label="Twitter">
          <img src="icons8-twitter.svg" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/cremaymilhojas/" target="_blank" aria-label="Instagram">
          <img src="instagram-svgrepo-com.svg" alt="Instagram" />
        </a>
      </div>
    </div>
  </footer>
  
</div>
